{% extends "./layout.html" %} {% block content %}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        DashBoard
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <br/>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS -->
   

    <div class="row">
        <div class="col-md-6">

            <a class="more" href="/contact_us">
                <div class="col-md-9 dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-question"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b> 1 </b>
                        </div>
                        <div class="desc">
                            Total Queries
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>


</div>
<!-- END DASHBOARD STATS -->
{% endblock %}


<!--
Javascript Block Begins
-->
{% block js %}

 {% endblock %}

<!--
Javascript Block Ends
-->