<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{{project_name}} | {{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="{{fav_icon_path}}">
    <link rel="apple-touch-icon" href="{{fav_icon_path}}">
    <link rel="icon" sizes="228x228" href="{{fav_icon_path}}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <!-- <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/> -->
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../assets/layout/stylesheet/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layout/stylesheet/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layout/stylesheet/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../../assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/> -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/stylesheets/components.css" id="style_components" rel="stylesheet" type="text/css" /> -->
    <link href="/stylesheets/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <!-- <link href="../../assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" /> -->

    <!--
        change color of validation labels
        -->
    <style>
        .form-control[disabled],
        .form-control[readonly],
        fieldset[disabled] .form-control {
            cursor: default !important;
        }

        .error {
            color: red
        }
    </style>

    <!-- END THEME STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-md login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="/login">
            <img height="100px" src="{{logo_path}}" alt="{{project_name}}" />
        </a>
    </div>
    <!-- END LOGO -->

    <!-- BEGIN form -->
    <div class="content">

        {% block content %} {% endblock %}

    </div>
    <!-- END FORM -->

    <div class="copyright" style="color:white">
        Copyright ©
        <span id="year">2018</span> {{copyright_project_name}}.com. All rights reserved.
    </div>


    <script src="../assets/layout/javascript/jquery.min.js" type="text/javascript"></script>
<script src="../assets/layout/javascript/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/layout/javascript/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../assets/layout/javascript/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/layout/javascript/additional-methods.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/layout/javascript/metronic.js" type="text/javascript"></script>
<script src="../assets/layout/javascript/layout.js" type="text/javascript"></script>
<script src="/javascripts/demo.js" type="text/javascript"></script>
<script src="/javascripts/moment.js" type="text/javascript"></script>
<script src="/javascripts/moment-timezone.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            var d = new Date();
            var n = d.getFullYear();
            $("#year").html(n)
            $.cookie("time_zone_name", moment.tz.guess());
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
        });
    </script> {% block js %} {% endblock %}
</body>
<!-- END BODY -->

</html>