<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Asset Management | Login </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="timezone_custom" content="" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../assets/layout/stylesheet/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layout/stylesheet/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layout/stylesheet/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/login-soft.css" rel="stylesheet" type="text/css" />

    <link href="/stylesheets/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        .login {
            background-color: #8193A9 !important;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-md login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html" style="text-decoration:none;">
            <img src="/images/assetChain.png" height="100" width="100" alt="asset-management" />
            <h2 style="color:white;font-weight: bold;text-decoration:none;">AssetChain</h2>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->

    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        {% include "./flashMessage.html" %}
        <!--include file for flash messages -->

        <form class="login-form" action="/login" method="post">
            <h3 class="form-title">Login to your account</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter valid email and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>

                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="email" value="" name="email" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>

                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" value="" name="password"
                    />

                </div>
            </div>
            <input type="hidden" name="device_token" value="admin" />
            <div class="form-actions">
                <button type="submit" class="btn blue "> Login
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>

            <div class="forget-password">
                <h4>Forgot your password ?</h4>
                <p>
                    Click
                    <a href="javascript:;" id="forget-password">
                        here </a>
                    to reset your password.
                </p>
            </div>

        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="/forgetPassword" method="post">
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> Back </button>
                <button type="submit" class="btn blue pull-right">
                    Submit
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2018 &copy; AssetChain rights reserved.
    </div>
    <script src="../assets/layout/javascript/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/layout/javascript/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/layout/javascript/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/layout/javascript/metronic.js" type="text/javascript"></script>
    <script src="../assets/layout/javascript/layout.js" type="text/javascript"></script>
    <script src="/javascripts/demo.js" type="text/javascript"></script>
    <script src="/javascripts/login_validation.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(".alert").fadeOut(10000);
    </script>

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>